@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

img {
  max-width: 100%;
}

.recommendation-article {
  transition: transform 0.2s ease-in-out;
  height: 10rem;
}

.recommendation-article:hover {
  transform: scale(1.05);
  transition: transform 0.2s ease-in-out;
}

.collections-article {
  height: 16rem;
}

section > * {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

footer {
  max-width: 1000px;
  margin: auto;
}


@media (min-width: 800px) {
  footer {
    grid-template-columns: repeat(4, 1fr) !important;
  }
}